<!DOCTYPE html>
<html lang="en">

{%- set title = title or (None if current_menu == current_menu.active_item else current_menu.active_item.text) -%}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Zubax Robotics">
    <meta name="description"
          content="{% if title %}{{ title|safe }} - {% endif %}Zubax Robotics Documentation">

    <title>{% if title %}{{ title|safe }} &#8212; {% endif %}Zubax Docs</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="apple-touch-icon-precomposed" type="image/png" href="{{ url_for('static', filename='favicon-152.png') }}" />

    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">

{% assets filters="less", output="generated/sb-admin-2.css", "../assets/less/sb-admin-2.less" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
{% endassets %}

    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/pygments.css" rel="stylesheet" type="text/css">
    <link href="/static/css/lightbox.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/static/logo.png"></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="site-search">
                    <form action="/search" method="get" class="input-group custom-search-form">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </form>
                </li>
                <li>
                    <a href="#" onclick="window.print()">
                        <i class="fa fa-file-pdf-o"></i> Print this page
                    </a>
                </li>
                <li>
                    <a href="{{ config.SUPPORT_URL }}" target="_blank">
                        <i class="fa fa-comments"></i> Support Forums
                    </a>
                </li>
                <li>
                    <a href="https://zubax.com" target="_blank">
                        <i class="fa fa-globe"></i> Main Website
                    </a>
                </li>
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="main-nav" id="side-menu">

                        <!-- SEARCH -->
                        {#<li class="sidebar-search">
                            <form action="/search" method="get" class="input-group custom-search-form">
                                <input type="text" name="q" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                </span>
                            </form>
                        </li>#}

                        <!-- MENU -->
                        <li class="{{ 'active' if current_menu.active else '' }}">
                            <a href="/">{{ current_menu.text }}</a>
                        </li>

                        {%- for item in current_menu.children recursive %}
                            {%-  if item.visible or item.has_visible_child(True) %}
                            <li class="
                            {{- ' collapsible ' if item.children else '' -}}
                            {{- ' open ' if item.children and (item.has_active_child(True) or item.active) else '' -}}
                            {{- ' active ' if item.active and not item.children else '' -}}
                                ">
                                <a href="{{ item.url}}">{{- item.text -}}</a>
                                {%- if item.children %}
                                    <ul class="sub-menu">
                                    {{ loop(item.children) }}
                                    </ul>
                                {%- endif %}
                            </li>
                            {%- endif -%}
                        {%- endfor -%}
                    </ul>

                    <!-- TABLE OF CONTENTS -->
                    <div class="toc-wrapper">
                        <!--p>Table of contents</p-->
                        <div id="toc"></div>
                    </div>

                    <footer class="footer">
                        <span>2015 &copy; <a href="mailto:info@zubax.com">Zubax Robotics</a></span>
                        <span><a href="https://github.com/Zubax/zubax_documentation_portal">Contribute</a></span>
                    </footer>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            {% if current_menu.has_active_child(True) -%}
                <div class="breadcrumbs">
                {% set found_home_sweet_home = [] %}
                {%- for item in current_menu.children recursive -%}
                    {%- if (item.active or item.has_active_child(True)) and not item.item.main_page -%}
                        {%- if loop.depth0 == 0 and not found_home_sweet_home -%}
                            {%- if found_home_sweet_home.append(True) -%}{%- endif -%}
                            <a href="/"><i class="fa fa-home"></i></a>
                        {%- else -%}
                            <i class="fa fa-caret-right"></i>
                        {%- endif -%}
                        {%- if item.url != '#' -%}
                            <a href="{{ item.url }}">{{ item.text }}</a>
                        {%- else -%}
                            <span>{{ item.text }}</span>
                        {%- endif -%}
                        {{ loop(item.children) }}
                    {%- endif -%}
                {%- endfor -%}
                </div>
            {%- endif %}

            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/sb-admin-2.js"></script>
    <script src="/static/js/toc.js"></script>
    <script src="/static/js/lightbox.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(window).load(function(){
            // Nav controls
            $('.collapsible > a').click(function(){
                $(this).parent().toggleClass('open');
                if( $(this).parent().siblings().hasClass('open') ){
                    $(this).parent().siblings().removeClass('open');
                }
                return false;
            }); // Collapsible

            // Mobile Nav
            $('.m-nav').click(function(){
                $('.main-nav').toggleClass('open');
            });

            $('#toc').toc({
                'selectors': 'h1,h2,h3,h4', //elements to use as headings
                'container': '#page-wrapper', //element to find all selectors in
                'smoothScrolling': true, //enable or disable smooth scrolling on click
                'prefix': 'toc', //prefix for anchor tags and class names
                'onHighlight': function(el) {}, //called when a new section is highlighted
                'highlightOnScroll': true, //add class to heading that is currently in focus
                'highlightOffset': 100, //offset to trigger the next headline
                'anchorName': function(i, heading, prefix) { //custom function for anchor name
                    // This conversion matches the Python markdown postprocessor conversion.
                    return encodeURI(heading.textContent.replace(/\s/g, '_').replace(/[^A-Za-z0-9\-_:\.]/g, ''));
                },
                'headerText': function(i, heading, $heading) { //custom function building the header-item text
                    return $heading.text();
                },
                'itemClass': function(i, heading, $heading, prefix) { // custom function for item class
                  return 'toc-' + $heading[0].tagName.toLowerCase();
                }
            });
            // Displaying TOC only when it contains enough entries
            if (document.getElementById("toc").getElementsByTagName("li").length > 3) {
                $('.toc-wrapper').css({display: 'block'});
            }
        });
    </script>

    <!-- Google Analytics -->
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-37484982-4', 'auto');
        ga('send', 'pageview');
    </script>

</body>

</html>
