<head>
<style>
html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
}
h1, p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
</style>
<title>{{ error_description }}</title>
</head>
<body>
<h1 style="font-size: 3em">
    {{ error_description }}
</h1>
<p style="font-size: 2em">
    <a href="/">Proceed to the home page</a>
</p>
<p style="font-size: 1em">
    <a href="https://github.com/Zubax/zubax_documentation_portal/issues/new">Report this error</a>
</p>
</body>
<!-- Google Analytics -->
<script type="text/javascript">
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-37484982-4', 'auto');
ga('send', 'pageview');
</script>
